<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vercera S/W Hackathon</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-[#0D1217] min-h-screen flex flex-col text-white">
    <!-- Header -->
    <header class="w-full fixed top-0 bg-blue-600 text-white shadow-md z-50">
      <div class="container mx-auto px-4"><%- include('./partials/nav') %></div>
    </header>

    <!-- Main Content -->
    <main class="flex-grow pt-16">
      <div class="container mx-auto px-4">
        <!-- Your main content goes here -->
      </div>
    </main>

    <!-- Footer -->
    <footer class="mt-8 py-4 bg-gray-800 text-white text-center w-full">
      <p>© 2025 code Monitor. All Rights Reserved.</p>
    </footer>
  </body>
</html>
